# MongoDB Configuration
PORT=27017
ROOT_NAME=god
ROOT_PASSWORD=CHANGE_THIS_STRONG_PASSWORD!
MONGO_VERSION=8
BIND_IP=127.0.0.1  # for local; use 0.0.0.0 # for remote

# TLS Configuration (run ./generate-certs.sh first)
TLS_ENABLED=false
# CERT_HOSTNAME=example.com
# CERT_IP=203.0.113.50
# CERT_DAYS=3650